/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        Reusables
        Other
    4. Areas
        Header
        Introduction
        JokeList
        Button search
        Button next
        Footer
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color: #d2c7a4;
}

main {
    padding: 0 20px;
}

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- Layout ----------------------------------- */
/* ------------------------------- Reusables -------------------------------- */
/* top-navigation */

.top-region {
   display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    background: #E9A372;
}

.inner-top-region {
    flex-bottom: 1200px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.top-navigation {
flex-basis: 50px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

}

/* Top Nav Menu */

.top-nav-menu {

    display: flex;
    flex-direction: row;
    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: space-between;
    height: 30px;


}

button {
    border: 1px solid #BC4C2A;
    color:  #BC4C2A;
    background-color: transparent;
    font-size: 10px;
    padding: 8px 16px;
    text-transform: lowercase;
    cursor: pointer;
}

button:hover {
    background-color: #BC4C2A;
    color: white;
    transition: all .4s ease-in-out;
}

button:disabled {
    cursor: not-allowed;
    border-color: #D08169;
    color: #D08169;
}



