* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*line-height: 1.5;*/
    /*color: white;*/
    position: relative;
    width: 1920px;
    height: 1080px;

    background: #E7CEBA;
}

p {
    font-family: Arial, sans-serif;
    margin: 16px 0;
}

h1 {
    font-size: 50px;
}

h4 {
    font-size: 18px;
}
